/*
*{
    padding: 0;
    margin:0;
}
*/
header {
    background-color: #231C1A;
}
h1 {
    color: white;
}
header li {
    display: inline;
    margin-right:4vw;
    height:80px;
    width:100%;
}
header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}
h1 {
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 80px;
    /*background-image: url(/images/avatar.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 210px;
    text-indent: 210px;*/
}
header a {
    color: white;
    text-decoration: none;
}
head a:hover {
    text-decoration: underline;
}